@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body{
  @apply w-full h-full;
}
 
main{
  @apply p-5 w-screen h-screen top-0 bg-blue-200 relative flex flex-col items-center gap-10;
}

.gameboard{
  width: 80%;
  @apply bg-amber-700;
}

.players{
  width: 80%;
  display:block;
  margin: auto;
  @apply py-2 px-2
}

.players ol{
  @apply grid grid-cols-2 gap-3;
}

.players ol li{
  border: 1px solid rgb(253, 253, 253);
  @apply p-4 flex items-center justify-between;
}

.player{
  width:80%;
  @apply px-3 flex items-center justify-between;
}

.playerName, input{
  width:70%;
  @apply text-xl font-medium px-2 py-1 rounded-md text-amber-50 border-none outline-none;
}

input{
  @apply bg-amber-800
}
.playerSymbol{
  @apply text-2xl font-bold text-amber-50;  
}

.btn{
  @apply cursor-pointer border-none outline-none text-xl text-blue-200;
}